@{
    ViewBag.Title = "Contact";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    <h2>@ViewBag.Message</h2>
</hgroup>

<section class="contact">
    <span class="label">Support:</span>
    <span><a href="mailto:sgaikwad84@hotmail.com">sgaikwad84@hotmail.com</a></span>
</section>
