@model  IEnumerable<MvcApplicationDemo.Models.Restaurant>


@{
    ViewBag.Title = "Home";
}

<h2>Home</h2>


<div>
    <input id="search" placeholder="Search"/>

</div>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.City)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Country)
        </th>
        <th>
    </tr>

    @foreach (var item in Model)
    {
        Html.RenderPartial("_PartialRestaurantView",item);
    }
</table>


