@model  IEnumerable<MvcApplicationDemo.Models.Restaurant>

@{
    ViewBag.Title = "Home";
}
<form>
    <div class="container">
        <div class="row">
            <div class="form-group">
                <div class="col-xs-4">
                    <label for="ex3">Search</label>
                    <input class="form-control" id="txtSearch" type="search" name="name">
                </div>
            </div>
        </div>

        <div class="row-fluid">
            <div class="row top-buffer">
                <button type="submit" id="btnSearch" class="btn btn-primary">Submit</button>
            </div>
        </div>

    </div>
    @Html.ValidationSummary(true)
</form>
<div id="divRestaurantList">
    @Html.Partial("_PartialRestaurantView", Model)
</div>
