@model MvcApplicationDemo.Models.Restaurant

<tr>
    <td>
        @Html.DisplayFor(model => model.Name)
    </td>
    <td>
        @Html.DisplayFor(model => model.City)
    </td>
    <td>
        @Html.DisplayFor(model => model.Country)
    </td>
</tr>


